.contact--form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 35rem;
}

label {
    margin: 0 2rem 2rem 0rem;
}

.inquiry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    resize: none;
}

.submit--button:hover {
    cursor: pointer;
}
