@font-face {
    font-family: louisgeorge;
    src: url(../fonts/Louis_George_Cafe.ttf);
}

@font-face {
font-family: louisgeorgebold;
src: url(../fonts/Louis_George_Cafe_Bold.ttf);
}

@font-face {
    font-family: louisgeorgeitalic;
    src: url(../fonts/Louis_George_Cafe_Italic.ttf);
}
  

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: louisgeorge;
    font-size: 16px;
    color: #333333;
}

h1, 
h2 {
    font-size: 2rem;
    font-family: louisgeorgebold;
}

h3 {
    font-family: louisgeorgebold;
}


a {
    text-decoration: none;
    color: #333333;
    transition: opacity .15s ease-in;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;    
    margin-bottom: 3rem;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 1rem;
}

main {
    min-height: 600px;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: #d9d9d9;
    color: #333333;
    padding: 2rem;
}

footer .contact--socials {
    text-align: center;
}

footer nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

footer img {
    height: 2rem;
    width: 2rem;
    margin: 1rem;
}

.copyright {
    font-family: louisgeorgeitalic;
}

a:hover {
    opacity: 0.6;
    cursor: pointer;
}
